// 混入-滚动条样式
@mixin scroll-bar {
    &::-webkit-scrollbar-track-piece {
        background: transparent;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
    }
}
